@import "~bulma";
@import "./node_modules/font-awesome/scss/font-awesome.scss";


body {
  margin: 0;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  background: rgb(235, 238, 243);
  color: #616161;
}
